:root {
  --navbar-height: 80px;
  --footer-height: 10rem;

  --box-shadow-1: 4px 3px 9px 0px rgb(0 0 0 / 10%);
  --box-shadow-2: 12px 9px 38px 0px rgb(0 0 0 / 10%);

  --transition-slow: all 0.3s ease-in-out;
  --transition-base: all 0.2s ease-in-out;
  --transition-fast: all 0.1s ease-in-out;

  --clr-overlay-1: hsla(0, 0%, 100%, 0.9);
  --clr-overlay-2: hsla(0, 0%, 100%, 0.1);

  --clr-bg-0: hsl(220, 26%, 10%);
  --clr-bg-1: hsl(220, 26%, 14%);
  --clr-bg-2: hsl(218, 23%, 23%);

  --clr-text-0: #ffffff;
  --clr-text-1: hsl(214, 32%, 95%);
  --clr-text-2: hsl(210, 20%, 80%);

  --clr-accent-1: hsl(28, 91%, 62%);
  --clr-accent-2: hsl(28, 90%, 58%);
}

.container-xl {
  margin: 0 auto;
  width: 1400px;
}

.container-lg {
  margin: 0 auto;
  width: 1200px;
}

.container-md {
  margin: 0 auto;
  width: 1000px;
}

@media (max-width: 1400px) {
  .container-xl {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}

@media (max-width: 1200px) {
  .container-lg {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}

@media (max-width: 1000px) {
  .container-md {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}
